page-editlesson{
  .must {
    color: red;
  }
  .yellow {
    background-color: #efb262;
  }
  .yellow:focus,.yellow:active {
    background-color: #efb262;
  }
  #def{
    background-color: #FFF;
  }
  .cancel{
    background-color: #c2c2c2;
    color: #FFF;
  }
  input.inpre,textarea.inpre{
    border: none;
    margin-left: 16px;
    width: calc(100% - (16px / 2) - 16px);
  }
}