html,
body {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  display: none !important;
}

.padding0 {
  padding: 0px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.clear {
  width: 100%;
  overflow: hidden;
}

.ft-14 {
  font-size: 14px;
}

.ft-12 {
  font-size: 12px;
}

.color-666666 {
  color: #666666;
}

.error-tips {
  font-size: 12px;
  color: red;
  margin-top: 8px;
}

.text-input-ios {
  margin: 0;
  padding: 0;
  width: calc(100% - 8px);
}

.alert-ios .alert-button {
  font-size: 16px;
  color: #FFC000;
}

.alert-ios .alert-button:first-child {
  font-size: 16px;
  color: #666666;
}

.alert-ios .alert-button:last-child {
  border-right: 0;
  font-weight: normal;
}

.no-line-break {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden !important;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}

.line {
  height: 1px;
  background-color: #d5d5d5;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom
}

.bottom {
  margin: 33px 20px;
  ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .tips {
    font-size: 14px;
    color: #666666;
    text-align: center;
    padding: 0px 18px;
  }

  .line {
    flex: 1;
    height: 1px;
    background-color: #d5d5d5;
  }
}

.btn-wapper-line {
  margin: 55px 0px 25px;
  overflow: hidden;
  text-align: center;

  .btns {
    overflow: hidden;
    display: inline-block;
    margin: 0px auto;
  }

  .button-ios {
    padding: 0px;
    margin: 0px;
    margin-right: 30px;
    float: left;
    border-radius: 3px;
    width: 130px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #FFC000;
  }

  .button-ios:last-child {
    margin-right: 0px;
  }

  .btn-ghost {
    color: #FFC000;
    border: 1px solid #FFC000;
    border-radius: 3px;
    background-color: #FFFFFF;
  }

  .btn-one {
    width: 100%;
    border-radius: 0px;
  }
}

.btn-wapper:last-child {
  margin-bottom: 20px;
}

.photoalert {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  contain: strict;

  .alertback {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
  }

  .alertwapper {
    opacity: 1;
    transform: scale(1);
    border-radius: 5px;
    overflow: hidden;
    width: 306px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px 5px rgba(74, 74, 74, 0.45);
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  .alert-content {
    padding: 20px 10px 10px;
  }

  .padding0 {
    padding: 0px;
  }

  .text-input-ios {
    margin: 0;
  }

  ion-input {
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    height: 36px;
    font-size: 14px;
    color: #9B9B9B;
    line-height: 36px;

    input {
      padding: 0px 5px;
    }
  }

  .tips {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
  }

  .acions {
    overflow: hidden;
    margin-top: 10px;
    border-top: 0.5px solid #D5D5D5;

    .actions_a {
      height: 40px;
      line-height: 40px;
      width: 50%;
      float: left;
      text-align: center;
      font-size: 16px;
      color: #666666;
      border-right: 0.5px solid #D5D5D5;
    }

    .actions_a:last-child {
      border-right: 0px solid #D5D5D5;
    }

    .save {
      color: #FFC000;
    }
  }
}

.upload {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.add {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  // border: 1px solid red;
  // float: left;
  // margin-right: 15px;
  // margin-top: 15px;
}

.hiddenFile {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -moz-opacity: 0;
  /* 兼容老式浏览器 */
  filter: alpha(opacity=0);
  /* 兼容IE */
}

.add img {
  width: 100%;
  height: 100%;
}

.Certify {
  // float: left;
  // margin-right: 15px;
  // margin-top: 15px;
  position: relative;
  // border: 1px solid red;
  width: 80px;
  height: 80px;
  margin: 0px auto;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.delete {
  .delete-icon {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #d5d5d5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    color: #ffffff;
    font-size: 12px;
  }
}

.empty {
  width: 187px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -78px;
  margin-left: -94px;
  text-align: center;

  a {
    width: 187px;
    height: 159px;
    display: block;
  }

  .tips {
    margin: 15px 0px 0px 0px !important;
    padding: 0;
    font-size: 14px;
    color: #acacac;
    letter-spacing: 0.34px;
    text-align: center;
  }
}



.info_list {
  .info_title {
    font-size: 16px;
    color: #3E3E3E;
  }

  .item-block {
    min-height: 40px;
  }

  .list-ios {
    margin: 0px 0 0px;
  }

  .list-ios:last-child {
    margin: 0px 0 0px;
    border-bottom: 0px solid #c8c7cc;
  }

  .list-ios>.item-block:first-child {
    border-top: 0px solid #c8c7cc;
  }

  .list-ios>.item-block:last-child {
    border-bottom: 0px solid #c8c7cc;
  }

  .item-ios {
    padding: 0px 15px;
    font-size: 16px;
    color: #3E3E3E;
  }

  .list-ios .item-block .item-inner {
    padding-left: 15px;
    border-bottom: 0px solid #D5D5D5;
  }

  .list-ios>.item-block:last-child .item-inner {
    border-bottom: 0px solid #c8c7cc;
  }

  .label-ios {
    margin: 9px 8px 9px 0;
  }

  button.item-ios:not([detail-none]) .item-inner {
    background-image: url('../assets/imgs/arrow@2x.png');
    padding-right: 32px;
    background-position: right 15px center;
    background-position: right calc(15px + constant(safe-area-inset-right)) center;
    background-position: right calc(15px + env(safe-area-inset-right)) center;
    background-repeat: no-repeat;
    background-size: 7px 16px;
  }

  .sex {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
  }

  .sex img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.room_info {
  background-color: #ffffff;
  padding: 10px 15px;

  .name {
    font-size: 16px;
    color: #3E3E3E;
    margin-bottom: 10px;
  }

  .academy_name {
    float: left;
    display: block
  }

  .academy_info {
    margin-left: 42px;
  }

  .tips {
    font-size: 14px;
    color: #666666;
    line-height: 22px;
  }
}

.weiji {
  margin-top: 10px;
  background-color: #ffffff;

  .top {
    height: 40px;
    padding: 0px 15px;

    .icon {
      float: left;
      width: 16px;
      height: 16px;
      display: block;
      margin: 12px 10px 0px 0px;
    }

    .icon img {
      width: 100%;
      height: 100%;
    }

    .title {
      line-height: 40px;
      font-size: 16px;
      color: #3E3E3E;
    }

    .arrow {
      margin-top: 16px;
      width: 16px;
      height: 7px;
      display: block;
      float: right;
    }

    .up {
      background: url("../assets/imgs/down.png") no-repeat;
      background-size: 16px 7px;
    }

    .down {
      background: url("../assets/imgs/up.png") no-repeat;
      background-size: 16px 7px;
    }
  }

  .keywordslist {
    overflow: hidden;
    padding: 10px 15px;
    border-top: 0.5px solid #d5d5d5;

    .words {
      display: inline-block;
      padding: 3px 6px;
      background: #F5F5F5;
      border-radius: 4px;
      font-size: 14px;
      color: #666666;
      margin: 0px 15px 15px 0px;
    }

    .seleced {
      background: #FFC000;
      color: #ffffff;
    }

    .nowordstips {
      font-size: 12px;
      color: #13A0FA;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
