<!--
  Generated template for the PreviewPage page.

-->
<!--水印-->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>社团活动</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="grid-basic-page PreviewPage" style="background-color:#fafafa;">
  <ion-card *ngFor=" let item of SheTuanEND " style="margin:2px 0;width:100%;box-shadow:0 2px 5px 0 #E3E3E3 !important;">
    <ion-card-content>
      <ion-item>
        <h2 class="center fn18 honor-content" style="color:#4A4A4A;">{{item.name}}</h2>
        <div class="center fn14" style="margin-top:10px;">
          <span style="color:gray;">活动负责人：<span style="color:#4A4A4A;">{{item.username}}</span></span>
        </div>
        <div class="center fn14" style="margin-top:5px;">
          <span style="margin-left:10px;color:gray;">举办时间：<span style="color:#4A4A4A;">{{item.starttime}}</span></span>
        </div>
        <div class="hr">
          <ul *ngFor="let itam of item.attachmenturl;let index=index;">
            <li>
              <img (click)="navPreview({time:false,index:index,items:item.attachmenturl})" [src]='DomS.bypassSecurityTrustUrl(itam.attachmenturl)'
                alt="">
            </li>
          </ul>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>