page-spaceindex {
ul,li{list-style: none;margin:0;padding:0;}
p,h1,h2,h3{margin:0;padding:0;}
.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.dib{display: inline-block;}
.db{display: block;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed}
.overh{overflow: hidden;}
.bold{font-weight: bold;}
.mr{margin:0 auto;}
.db{display: block;}
.fn9{font-size: 9px;}
.fn12{font-size: 12px;}
.fn14{font-size: 14px;}
.fn16{font-size: 16px;}
.fn18{font-size: 18px;}
.fn15{font-size: 15px;}
.fn17{font-size: 17px;}
.colf0{color:#ff0000;}
.colffc{color: #FFC103;}
.colaca{color: #acacac;}
.col4a{color: #4a4a4a;}
.col9b{color: #9b9b9b;}
.bacolffc{background: #FFC103;}

.index-cont{color:#4A4A4A;}
.scroll-content {background-color: #f5f5f5;margin: 0px;overflow-y: auto;}

.head-wrap{background: #fff;padding-top:10px;overflow: hidden;}
.btn-wrap{margin-bottom:10px;height:66px;background: #fff;}
.wain-txt{margin:0 0 10px;}
.wain-txt span:nth-child(1){color: #3E3E3E;}
.wain-txt span:nth-child(2){color: #9B9B9B;}

.head-li{margin:0 10px;}
.head-li-s{border-left:1px solid #e3e3e3;width:1px;height:45px;}
.head-li img{width:32px;}
.head-li .head-li-h{width:25px;height:2px;border-radius: 2px;margin-top:1px;}

.info-cont{height:145px;background: #fff;padding: 15px 0 0 25px;margin-bottom:10px;}
.info-cont .user-header{width:90px;}
.info-cont .info-detail{margin-left: 20px;color:#4A4A4A;line-height: 23px;}

.health-wrap{height:45px;line-height: 45px;padding:0 15px;background: #fff;margin-bottom: 5px;}

.decipline-wrap{margin-bottom: 10px;background: #fff;padding-bottom:15px;}
.dec-txt{min-height: 30px;background: #FFE7E0;color: #FB5F2D;padding:7px 15px;}
.dec-time{padding:15px 15px 6px;}
.dec-prod{padding:0 15px;}
.dec-prod span:nth-child(1){width:70px;vertical-align: top;}
.dec-prod span:nth-child(2){width:74%;}
.img-wrap{padding:15px 8px 0;height:115px;}
.img-wrap img{width:22%;margin-left:7px;margin-bottom: 100px;height:100px;}


.footer{background: #fff;height:40px;border-top:1px solid #e3e3e3;line-height: 40px;}
.footer span{color: #4A90E2;text-decoration: underline;margin:0 10px;}




}


