/* You can add global styles to this file, and also import other style files */
@import "modal";

@zj-color:#FFC000;
*{margin:0;padding:0;}
body {background-color: #F9FAFE;}
p{margin-bottom: 0px;}

.time-select .ant-modal{width:440px!important;}
.time-select .ant-modal-header{padding:10px 20px;}
.time-select .ant-modal-close-x{width:40px;height:40px;line-height: 42px;}
.time-select .ant-modal-body{padding:10px 20px 10px 70px;}
.time-select .ant-modal-footer{text-align: center;}
.time-select .ant-btn{padding:0 22px;margin:0 5px;}

.table-center thead tr th{background:#5B80F1;color:#fff;height:30px;padding:2px 4px;text-align: center;font-size: 12px;}
.table-center tbody tr td{color: #4A4A4A;height:30px;padding:2px 4px;text-align: center;font-size: 12px;}
.table-center tbody tr td:nth-child(1){background: rgba(73,114,240,0.40);color:#fff;}


.input-css .ant-select-selection--single{height:26px;}
.input-css .ant-select-selection__rendered{line-height: 24px;margin-left:4px;margin-right:4px;}
.input-css .ant-input{height:26px;padding:2px 4px;}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot{top:50px;}

.ant-select-arrow{right:4px;}
.ant-select-selection__clear{right:4px;}
.ant-select-allow-clear .ant-select-selection--single .ant-select-selection-selected-value{padding-right:10px;}










