lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
*.sourcemaps/
pids
logs
results

npm-debug.log
*node_modules
*/node_modules
*hooks
*.idea/
*.iml
*.ipr
*.iws
.idea/
*/www
platforms/
.tmp/
!notice_web/www/
resources/
res/
.tmp/
coverage/
toupiao1/
qingjianew/
*/.vscode/
*.zip
*.editorconfig
