otherdetail {
*{padding:0;margin:0;}
ul,li{list-style: none;margin:0;padding:0;}
p,h1,h2,h3{margin:0;padding:0;}
.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.left{text-align: left;}
.dib{display: inline-block;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
.overh{overflow: hidden;}
.mr{margin:0 auto;}
.db{display: block;}
.fn10{font-size: 10px;}
.fn12{font-size: 12px;}
.fn14{font-size: 14px;}
.fn16{font-size: 16px;}
.fn17{font-size: 17px;}
.fn18{font-size: 18px;}
.clor4a{color: #4a4a4a;}
.clor9b{color: #9B9B9B;}
.clore2{color: #4A90E2;}

.scroll-content{padding-top:0px;}
.cont-box{background: #FAFAFA;}

.record-txt{height:50px;background: #FFE28A;color: #4a4a4a;padding:4px 0;}

.status-select{height:30px;line-height: 30px;margin-bottom: 5px;}
.status-select-p{width: 200px;}
.status-select .item-checkbox{width: 60px;background: transparent;padding-left: 0px;min-height: 0px;}
.status-select .checkbox-ios{margin:0px 0px 0px 0px!important;height:30px;}
.checkbox-ios .checkbox-icon{width:13px;height:13px;margin-top:9px;border-radius: 0;}
.item-checkbox .label-ios{margin:0px 0px 0px 5px;color: #4A4A4A;font-size: 14px;}
.checkbox-ios .checkbox-checked .checkbox-inner{left:4px;top:0px;}
.item-ios.item-block .item-inner{border-bottom: 0;}


.name-list{width: 94%;background: #fff;box-shadow: 0 2px 5px 0 #E3E3E3;}
.name-list-head{height:35px;line-height: 35px;background: #FFE28A;}
.name-list-head span{color: #9B9B9B;border-right:1px solid #FFF;height:100%;border-bottom:1px solid #E4E4E4;}

.name-list-head span:nth-child(1){width: 25%;}
.name-list-head span:nth-child(2){width: 20%;}
.name-list-head span:nth-child(3){width: 35%;}
.name-list-head span:nth-child(4){width: 20%;border-right: 1px solid #E4E4E4;}


.name-list-detail{height:42px;border-bottom: 1px solid #E4E4E4;background: #fff;}
.name-list-detail p{border-right: 1px solid #E4E4E4;height:100%;line-height: 21px;}
.name-list-detail .css-c1{width: 25%;line-height: 42px;}
.name-list-detail .css-c2{width: 20%;line-height: 42px;}
.name-list-detail .css-c3{width: 35%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.name-list-detail .css-c4{width: 20%;line-height: 42px;}
.name-list-detail .css-c4 img{width: 12px;top:14px;right:5px;}


















  
}
