/*简介样式*/
body:before {
    content: ' ';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('./../img/10.png');
    background-size: cover;
    z-index: -1;
}

.introduce {
    margin: 10px 15px;
    max-height: 66px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0.15px;
    text-align: left;
}

/*文章样式*/
.json_article {
    font-family: PingFangSC-Regular;
    color: #3e3e3e;
    line-height: 20px;
    text-align: left;
}

.json_pic_text{
    color: #3e3e3e;
}

.end{
    color: #3e3e3e;
}