.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.dib{display: inline-block;}

.comm-css{cursor: pointer;color: #108EE9;}

.bgc{background: #ccc;}
.bgc span{color: #fff;}


tbody tr td{border-right:1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9;}













