page-list{
  .segment-ios .segment-button.segment-activated{
    background-color: transparent;
    color: #ff9800;
    border-bottom: 2px solid #ff9800;
    border-radius: 0;
  }
  .segment-ios .segment-button{
    border: none;
    color: #131313;
  }
  button.sign::after{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    content: ' ';
  }
  button.signs::after{
    background:url('../assets/images/signs4.png') no-repeat;
  }
  button.signp::after{
    background:url('../assets/images/signp4.png') no-repeat;
  }
  button.signz::after{
    background:url('../assets/images/signz4.png') no-repeat;
  }
  button.signc::after{
    background:url('../assets/images/signc4.png') no-repeat;
  }
}