<ion-content class="outer-content">
    <ion-card>
        <ion-card-content class="fontRed" *ngIf="info.Status ==1">
            已审批
        </ion-card-content>
        <ion-card-content class="fontRed" *ngIf="info.Status ==3">
            已审批(待完善){{info.NoPassReason}}
        </ion-card-content>
        <ion-card-content class="fontRed" *ngIf="info.Status !=1 && info.Status !=3">
            未批准原因:{{info.NoPassReason}}
        </ion-card-content>
    </ion-card>
    <ion-list>

        <ion-item>
            <ion-label fixed>任课教师</ion-label>
            <!--<ion-input type="text" value="{{info.Name}}" class="inp" placeholder="任课教师" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{info.Name}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label fixed>课程名称</ion-label>
            <!--<ion-input type="text"  value="{{info.CourseName}}" class="inp" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{info.CourseName}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label fixed>课程性质</ion-label>
            <!--<ion-input type="text" value="{{info.CourseType}}" class="inp" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{info.CourseType}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label fixed>部门</ion-label>
            <!--<ion-input type="text" value="{{info.CourseType}}" class="inp" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{info.Department}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label fixed>授课班级</ion-label>
            <!--<ion-input type="text" value="{{info.ClassName}}" class="inp" placeholder="请填写" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{info.ClassName}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item style="margin-top: 10px">
            <ion-label fixed>调课原因</ion-label>
            <!--<ion-textarea type="text" value="{{info.AdjustReason}}" class="inp" placeholder="请填写" max="100" readonly="readonly"></ion-textarea>-->
            <ion-label>
                <textarea class="inpre" readonly="readonly">{{info.AdjustReason}}</textarea>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label fixed>原课程时间</ion-label>
            <!--<ion-input type="text" value="{{BeforeAdjustDate_1}}" class="inp" max="18" value="" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{BeforeAdjustDate_1}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label fixed>原课程地点</ion-label>
            <!--<ion-input type="text" value="{{BeforeAdjustAddress_1}}" class="inp" placeholder="3301" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{BeforeAdjustAddress_1}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label fixed>调整后时间</ion-label>
            <!--<ion-input type="text" value="{{AdjustAdjustDate_1}}" class="inp" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{AdjustAdjustDate_1}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label fixed>调整后地点</ion-label>
            <!--<ion-input type="text" value="{{AdjustAddress_1}}" class="inp" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{AdjustAddress_1}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>

        <ion-item *ngIf="shouInfo == 1" style="margin-top: 10px">
            <ion-label fixed>原课程时间</ion-label>
            <!--<ion-input type="text" value="{{BeforeAdjustDate_2}}" class="inp" value="" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{BeforeAdjustDate_2}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item *ngIf="shouInfo == 1">
            <ion-label fixed>原课程地点</ion-label>
            <!--<ion-input type="text" value="{{BeforeAdjustAddress_2}}" class="inp" placeholder="3301" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{BeforeAdjustAddress_2}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item *ngIf="shouInfo == 1">
            <ion-label fixed>调整后时间</ion-label>
            <!--<ion-input type="text" value="{{AdjustAdjustDate_2}}" class="inp" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{AdjustAdjustDate_2}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>
        <ion-item *ngIf="shouInfo == 1">
            <ion-label fixed>调整后地点</ion-label>
            <!--<ion-input type="text" value="{{AdjustAddress_2}}" class="inp" max="18" readonly="readonly"></ion-input>-->
            <ion-label>
                <input type="text" value="{{AdjustAddress_2}}" class="inpre" placeholder="" readonly="readonly">
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>