<ion-content>
    <div class="bgImg">
        <div class="detials">
            <p>活动时间：{{activityTime}}</p>
            <p>活动范围：所有参加2017年6月大学英语四六级的考生</p>
            <p>估分细则：估算自己四六级成绩，只限总分，不论分高分低，只要估算的分数与自己最终考试的分数的分差绝对值小于等于 3分的用户瓜分总奖池，奖池金额为666元。
            </p>
            <p>幸运分享奖：随机从分享预估分数的用户中抽取10位获得星火英语培训教材</p>
            <p>所有参与的小伙伴均可获得“王者荣耀”版四六级成绩单</p>
        </div>
        <!--<div class="submitDiv">-->
            <button type="submit" class="submit-btn" (click) = "navTo()">马上去估分</button>
        <!--</div>-->

    </div>
</ion-content>