.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.left{text-align: left;}
.dib{display: inline-block;}
.db{display: block;}
.disno{display: none;}
.overh{overflow: hidden;}
.cp{cursor: pointer;}
.fixed{position: fixed;}
.relative{position: relative;}
.absolute{position: absolute;}
.bold{font-weight: bold;}
.mr{margin: 0 auto;}
.fn12{font-size: 12px;}
.fn14{font-size: 14px;}
.fn16{font-size: 16px;}
.fn18{font-size: 18px;}
.fn20{font-size: 20px;}
.fn22{font-size: 22px;}
.fn24{font-size: 24px;}
.fn48{font-size: 48px;}
.colfff{color: #fff;}
.colffc{color: #ffc000;}
.col4a{color: #4a4a4a;}
.coldde{color: #DDE8FF;}
.marn-r10{margin-right:10px;}
.marn-r30{margin-right:30px;}
.marn-l18{margin-left:18px;}

.page-header{min-height:120px;padding:10px 20px;background-image: linear-gradient(-45deg, #7FB4FF 0%, #7998F0 100%);}
.award-head-txt p{margin-top:35px;}
.award-head-txt .cir-icon{width:6px;height:6px;border-radius: 3px;background: #fff;margin-bottom: 2px;}
.header-floor{bottom:15px;right:20px;z-index: 0;}

.table-box{padding:20px 40px;}
.b-cancle{bottom:60px;right:0px;width: 70px;}

@media screen and (max-width: 1367px) {
  .table-box{padding:20px 10px;}
}













