.alert-ios .alert-head{padding:6px 10px 6px;}
.alert-ios .alert-message{text-align: left;color:#4a4a4a;}
.message-wain{margin:0;text-indent: 2em;}
.make-sure{margin:0;text-indent: 2em;}
.make-sure-name{color:#ff0000;line-height: 20px;}



.toast-message{text-align: center;}
.searchbar-ios .searchbar-search-icon{top:12px;}

.item-block{height:40px;min-height: inherit;}


select-searchable-page {
    .item-ios {
      padding-left: 0px;
    }
    .list-ios>.item-block:first-child {
      border-top: 0.5px solid #E3E3E3;
    }
    .item-ios ion-icon[item-left] {
      display: none;
    }
    .list-ios .item-block .item-inner {
      padding-left: 16px;
      border-bottom: 0.55px solid #E3E3E3;
    }
  }























