  .title{
    margin: auto;
    margin-left: 55px
  }
  .bg-total {
    background-image: linear-gradient(-225deg,  #8762B7 0%, #4D84FB 100%);
  }
  .p-ab-r{
    position: absolute;
    right: 20px;
  }
  .icon-right{
    position: absolute;
    right: 15px;
    height: 80px;
  }
  .hw{
    max-width: 160px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .student {
    margin: 0 auto;
    margin-left: 50px;
    margin-bottom: 50px;
    .body {
      margin: 8px;
      box-shadow: 0px 5px 5px #EEEFF2;
      display: inline-block;
      vertical-align: bottom;
      width: 190px;
      height: 260px;
      background-color: #fff;
      text-align: center;
      .icon {
        margin: 10px 0;
        width: 106px;
        height: 134px;
      }
    }
  }
.m2{
 margin-top: 2px;
}
.mr{
  padding-right: 15px;
}


.b-bottom-dash {
  border-bottom: 1px dashed #ECEFF7;
}
.icon-expand{
  right: 10px;
  top: 10px;
}
.pagination{
  margin-bottom: 20px;
}
.loaing{
  text-align: center;
  margin-top: 160px;
}
