page-list {
  .explain {
    margin: 20px;
    color: #999;
    font-size: 16px;
  }
  .explain p{
    margin: 0;
    padding: 0;
    line-height: 20px;
    margin-top: 5px;
  }
  .gray{
    background-color: #e2e2e2;
  }
}