page-roomlist {
    ul,li{list-style: none;margin:0;padding:0;}
    p,h1,h2,h3{margin:0;padding:0;}
    .fl{float: left;}
    .fr{float: right;}
    .center{text-align: center;}
    .dib{display: inline-block;}
    .relative{position: relative;}
    .absolute{position: absolute;}
    .fixed{position: fixed}
    .overh{overflow: hidden;}
    .mr{margin:0 auto;}
    .db{display: block;}
    .fn9{font-size: 9px;}
    .fn12{font-size: 12px;}
    .fn14{font-size: 14px;}
    .fn16{font-size: 16px;}
    .fn18{font-size: 18px;}

    .index-cont{color:#4A4A4A;}
.search-wrap{width: 100%;height:40px;background: #ccc;padding: 3px 8px;top:0;left:0;z-index: 99;transform: translateZ(0);-webkit-transform: translateZ(0);}
.search-input{width: 100%;height: 34px;border-radius: 6px;border: 1px solid #ccc;padding:0 35px 0 8px;background: #fff;}
.search-img{width: 25px;right:15px;top:8px;z-index: 101;}

.text-input-ios{height:100%}

.list-wrap{width:100%;margin-top:40px;}
.item-block{height:45px;min-height: 35px;}

.list-ios .item-block .item-inner{height:45px;}
.list-ios > .item-block:first-child{border-top:none!important;}









}


