speak {
  ul,li{list-style: none;margin:0;padding:0;}
  p,h1,h2,h3{margin:0;padding:0;}
  .fl{float: left;}
  .fr{float: right;}
  .center{text-align: center;}
  .dib{display: inline-block;}
  .relative{position: relative;}
  .absolute{position: absolute;}
  .overh{overflow: hidden;}
  .mr{margin:0 auto;}
  .db{display: block;}
  .fn12{font-size: 12px;}
  .fn14{font-size: 14px;}
  .fn16{font-size: 16px;}
  
  .scroll-content{padding-top:20px;}
  .one-page{padding:0 15px;color: #4A4A4A;}
  .one-page .txt-speak{text-indent: 2em;line-height: 30px;}
  .one-page .btn-wrap button{background: #FFC000;border-radius: 6px;width: 250px;height:40px;}




  
}
