page-read-unread-main {
  button {
    background-color: transparent;
    margin-left: 2px;
    font-size: 14px;
    color: #666666;
  }
  // button:hover {
  //   background-color: #cccccc;
  // }

  .page-back {
    position:relative;
    // background-color: #e5e5e5;
     border-bottom: 1px solid #d5d5d5;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
     color: #666666;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    height: 40px;
    line-height: 40px; // 能够实现div中的元素垂直剧中
    width:100%;
  }
// ion-header::after {
// background-image: none;
// }

}