<ion-content class="outer-content">
    <ion-searchbar ion-fixed [debounce]="350" (ionInput)="initializeItems($event.target.value)" placeholder="搜索"></ion-searchbar>
  <ion-list style="margin-top: 44px">

    <ion-item detail-push *ngFor="let item of items" (click)="NavigationTo(item)">
      <h2 >{{item.Name }}</h2>
      <p>{{item.Phone}}</p>
      <ion-icon item-right name="ios-call" class="circle" color="primary" (click)="callPhone(item);$event.stopPropagation()"></ion-icon>
    </ion-item>

  </ion-list>

  <div *ngIf="items.length <= 0" class="none"><img class="noneimg" src="assets/images/kong.png">
    <div class="noneFont">暂无更多内容</div></div>
</ion-content>
