
.content{
    background:#fafafa;
    padding: 0;
    margin: 0;
    height: 100%;
}
.title{
    padding-top: 12px;

}
.title .heading{

    font-family:PingFangSC-Regular;
    font-size:18px;
    color:#3e3e3e;
    letter-spacing:0.22px;
    text-align:center;
    display: block;

}
.title .time{
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#666666;
    letter-spacing:0.17px;
    text-align:center;
    display: block;
}
.condition_btn{
    margin-top: 16px;
    text-align: center;
    width: 100%;
   
}

.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a {
    display: block;
    color: #666666;
}
.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
    color: #ffffff !important;
}
.ant-menu {
    outline: none;
    margin-bottom: 0;
    margin: 0 auto;
    padding-left: 0;
    font-size: 16px;
    list-style: none;
    z-index: 1050;
    // box-shadow: ;
    border: none;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    width: 200px;
    height: 24px;
    line-height: 24px;
    transition: background .3s, width .2s;
}


:host ::ng-deep .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    background-color: #ffc000;
    font-size:16px;
    color:#ffffff;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: none;
}
.ant-menu-item, .ant-menu-submenu-title {
    margin: 0;
    padding: 0 0;
    width: 100px;
}
