<ion-content class="index-cont">
  <ion-list>
    <ion-list-header class="title-txt">宿舍楼号</ion-list-header>
    <button ion-item *ngFor="let item of itemsObj" (click)="gotoRoom(item.dormitorycode)">
      {{ item.dormitoryname }}
    </button>
  </ion-list>

  <ion-infinite-scroll *ngIf="moreData" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载更多。。。">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div style="text-align: center;color: #8e9093" *ngIf="!moreData">我是有底线的！</div>
</ion-content>