county {
    ul{list-style: none;}
    .fl{float: left;}
    .fr{float: right;}
    .center{text-align: center;}
    .dib{display: inline-block;}
    .relative{position: relative;}
    .absolute{position: absolute;}
    .overh{overflow: hidden;}
    .mr{margin:0 auto;}
    .db{display: block;}


    .scroll-content{padding-top:10px!important;}
    .cover{padding:0 15px;}
    label{font-size: 16px;}


    p{text-indent: 2em;font-size: 14px;}

    .hr{border: 1px solid #E4E4E4;width: 100%;height:1px;}















  
}
