.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.left{text-align: left;}
.dib{display: inline-block;}
.db{display: block;}
.disno{display: none;}
.overh{overflow: hidden;}
.cp{cursor: pointer;}
.fixed{position: fixed;}
.relative{position: relative;}
.absolute{position: absolute;}
.bold{font-weight: bold;}
.mr{margin: 0 auto;}
.fn12{font-size: 12px;}
.fn14{font-size: 14px;}
.fn16{font-size: 16px;}
.fn18{font-size: 18px;}
.fn20{font-size: 20px;}
.fn22{font-size: 22px;}
.fn24{font-size: 24px;}
.fn48{font-size: 48px;}
.colfff{color: #fff;}
.colffc{color: #ffc000;}
.col4a{color: #4a4a4a;}
.marn-r10{margin-right:10px;}

.page-header{min-height:220px;padding:35px 30px 0;background-image: linear-gradient(-45deg, #7FB4FF 0%, #7998F0 100%);}
.school-info{margin-top:15px;}
.school-info .school-icon {width: 80px;margin-right:10px;border-radius: 50%;}
.school-info .school-txt p{line-height: 26px;}
.school-info .school-txt .static-time{color:#EFBE2A;text-decoration: underline;}

.num-money{height:100px;background: #5B80F1;box-shadow: 1px 2px 6px 0 rgba(49,83,190,0.40);border-radius: 5px;padding:10px 30px;margin-left:60px;}
.people-num{padding-right:40px;border-right:1px solid #264AB6;}
.people-num p:nth-child(1){height:48px;line-height: 48px;}
.people-num p:nth-child(2){margin:5px 0 5px 6px;}
.money-num{padding-left:30px;}
.money-num p:nth-child(1){height:48px;line-height: 48px;}
.money-num p:nth-child(2){margin:5px 0 5px 6px;}
.header-floor{bottom:30px;right:30px;z-index: 0;}

.charts-warp{height:500px;}
.charts-left{width:31%;min-width: 380px;height:490px;background: #FFFFFF;box-shadow: 0 2px 4px 0 rgba(216,216,216,0.40), -2px 4px 4px 0 rgba(216,216,216,0.40);border-radius: 4px;top:-50px;left:50%;margin-left:-33%;}
.charts-right{width:31%;min-width: 380px;height:490px;background: #FFFFFF;box-shadow: 0 2px 4px 0 rgba(216,216,216,0.40), -2px 4px 4px 0 rgba(216,216,216,0.40);border-radius: 4px;top:-50px;right:50%;margin-right:-33%;}
.charts-header{height:30px;line-height: 30px;padding-left:10px;color: #4A4A4A;border-bottom:1px solid #E3E3E3;}

.charts-left-peo-wrap{width:50%;margin-top:20px;}
.charts-left-num-wrap{width:50%;margin-top:20px;}

.charts-txt-p{height:22px;line-height: 22px;display: flex;align-items: center;width:70%;margin-top:15px;}
.charts-txt-p img{width:20px;align-items: center;}
.charts-txt-p .txt-p1{width:30%;}
.charts-txt-p .txt-p2{width:30%;}
.charts-txt-p .txt-p3{width:30%;}

.pool-txt a:nth-child(1) .div-col1{width:18px;height:18px;background: #F5A623;border-radius: 3px;}
.pool-txt a:nth-child(2) .div-col1{width:18px;height:18px;background: #B158FF;border-radius: 3px;}
.pool-txt a:nth-child(3) .div-col1{width:18px;height:18px;background: #FF465D;border-radius: 3px;}
.pool-txt a:nth-child(4) .div-col1{width:18px;height:18px;background: #80D424;border-radius: 3px;}

.right-btn-wrap{width:50px;height:365px;background-image: linear-gradient(-134deg, #7998F0 0%, #7FB4FF 100%);border-radius: 8px;top:27px;right:60px;}
.right-btn-wrap a{width:50px;height:50px;line-height: 50px;}
.right-btn-wrap a:nth-child(1){border-radius: 8px 8px 0 0;}
.right-btn-wrap a:nth-child(7){border-radius: 0 0 8px 8px;}
.right-btn-wrap a .tool-name{width:58px;height:22px;line-height: 22px;;background: #4A4A4A;border-radius: 2px;color:#fff;top:0px;right:-58px;}
.right-btn-wrap a:hover{background: #5B80F1;}
.right-btn-wrap a:hover .tool-name{display: inline-block;}
.kun-txt{top:0px;left:15px;z-index: 2;}
.kun-img{bottom:0;right:0;z-index: 1;width:25px;}

.table-box{padding:0 30px;margin-bottom: 60px;}
.table-btn{margin-left:1px;}
.table-btn span{width:80px;height:30px;line-height: 30px;border:1px solid #4972F0;}
.table-btn span:nth-child(1){border-radius:4px 0 0 4px;}
.table-btn span:nth-child(2){border-radius:0 4px 4px 0;color:#4972F0;}

@media screen and (min-width: 1010px) and (max-width: 1200px) {
  .charts-left{margin-left: -39%;}
  .charts-right{margin-right: -39%;}
  .right-btn-wrap{right:30px;}
  .right-btn-wrap a .tool-name{top:-22px;right:-8px;}
}

@media screen and (min-width: 840px) and (max-width: 1010px) {
  .page-header{padding:35px 5px 0;}
  .num-money{margin-left:10px;padding:10px 5px;}
  .school-info .school-icon {margin-right:5px;}
  .people-num{padding-right:10px;}
  .money-num{padding-left:10px;}
  .charts-left{margin-left: -49%;}
  .charts-right{margin-right: -43%;}
  .right-btn-wrap{right:5px;}
  .table-box{padding:0 10px;}
  .right-btn-wrap a .tool-name{top:-22px;right:-8px;}
}

@media screen and (max-width: 840px) {
  .page-header{padding:0px 5px 0;min-height: 280px;}
  .num-money{margin-left:10px;padding:10px 5px;}
  .school-info .school-icon {margin-right:5px;}
  .people-num{padding-right:10px;}
  .money-num{padding-left:10px;}

  .charts-warp{height:960px;}
  .charts-left{margin-left: -220px;min-width: 440px;}
  .charts-right{margin-left: -220px;min-width: 440px;top:450px;left:50%;}

  .right-btn-wrap{right:5px;}
  .table-box{padding:0 10px;}
  .right-btn-wrap a .tool-name{top:-22px;right:-8px;}
}







