<ion-content (swipe)="swipeEvent($event)" swipe-vertical (onSwipeUp)="onSwipeUp($event)"
             (onSwipeDown)="onSwipeDown($event)">
  <ion-card *ngIf="QuestionList.length">
  <!--  <ion-row>
      <ion-col no-padding col-4>
        <div class="di">
          <span>{{QuestionIndex+1}}/{{QuestionList.length}}</span>
        </div>
      </ion-col>
      <ion-col padding-top>
        <div class="title">{{WenjuanName||'蚁动问卷'}}</div>
      </ion-col>
    </ion-row>-->
    <div class="di">
      <span>{{QuestionIndex+1}}/{{QuestionList.length}}</span>
    </div>
    <div class="title" text-center>{{WenjuanName||'蚁动问卷'}}</div>
    <div class="qustitle">
      <!--题目类型-->
      <span *ngIf="QuestionList[QuestionIndex].type==1">单选</span>
      <span *ngIf="QuestionList[QuestionIndex].type==2">多选</span>
      <span *ngIf="QuestionList[QuestionIndex].type==3">填空题</span>
      <span *ngIf="QuestionList[QuestionIndex].type==4">打分题</span>
      <span *ngIf="QuestionList[QuestionIndex].type==5">量表题</span>
      ：{{QuestionList[QuestionIndex].name}}
    </div>
    <!--单选或多选:题目选项-->
    <ion-list *ngIf="QuestionList[QuestionIndex].type==1||QuestionList[QuestionIndex].type==2">
      <div *ngFor="let item of QuestionList[QuestionIndex].options">
        <ion-item>
          <ion-label text-wrap (click)="updateRadio(QuestionList[QuestionIndex],item.record_id)">{{item.name}}
          </ion-label>
          <ion-checkbox (click)="updateRadio(QuestionList[QuestionIndex],item.record_id)" [(ngModel)]="item.checked"
                        [mode]="QuestionList[QuestionIndex].type==1?'ios':'md'"></ion-checkbox>
        </ion-item>
        <div *ngIf="item.is_other===1&&item.checked" margin-bottom style="position: relative">
          <ion-item>
            <ion-textarea maxlength="100" [(ngModel)]="otherTextArea" minlength="2" placeholder="请输入"></ion-textarea>
          </ion-item>
          <span class="ziNum">{{otherTextArea.length}}/100</span>
        </div>

      </div>
    </ion-list>
    <!--填空题-->
    <ion-list *ngIf="QuestionList[QuestionIndex].type==3" style="position: relative">
      <ion-item style="padding-left: 8px">
        <ion-textarea maxlength="100" [(ngModel)]="textArea" minlength="2" placeholder="请输入"></ion-textarea>
      </ion-item>
      <span class="ziNum">{{textArea.length}}/100</span>
    </ion-list>
    <!--打分题-->
    <div *ngIf="QuestionList[QuestionIndex].type==4">
      <div class="score-title" *ngFor="let item of QuestionList[QuestionIndex].options">
        {{item.name}}
      </div>
      <div class="score">
        打分: <input type="text" name="fname" [(ngModel)]="score"/>
      </div>
      <div style="position: relative">
        <ion-item style="padding-left: 8px">
          <ion-textarea maxlength="100" [(ngModel)]="textArea" minlength="2" placeholder="请输入"></ion-textarea>
        </ion-item>
        <span class="ziNum">{{textArea.length||0}}/100</span>
      </div>

    </div>
    <!--量表题-->
    <ion-list *ngIf="QuestionList[QuestionIndex].type==5" style="position: relative">
      <ion-item style="padding-left: 8px">
        <span class="my-rating"></span>
        <!-- <span class="live-rating"></span>-->
        {{rate}}
      </ion-item>
    </ion-list>

  </ion-card>
  <div [ngClass]="{'none': !QuestionList.length||QuestionList[QuestionIndex].is_attach!=1}">
    <div class="cailiao" padding-left>
      请上传xxxx、xxxx等材料的照片
    </div>
    <ion-card>
      <!--  <div class="upload" #b_button>
          <div class="Certify" *ngFor="let item of CertifyImgs;let index=index;" [ngClass]="{'underimg':index==4}">
            <span class="delete"><ion-icon ios="ios-close-outline" md="close" (click)="deleteCertify($event,index)" class="delete-icon"></ion-icon></span>
            <img [src]="DomSanitizer.bypassSecurityTrustUrl(item.url)"
                 (click)="navPreview({time:false,index:index,items:CertifyImgs})">
          </div>
          <span id="container"  *ngIf="CertifyImgs.length<9">
      <img src="assets/imgs/add.png" >
    </span>
          <div class="clear"></div>
        </div>-->
      <div class="upload" #b_button>
        <div class="Certify" *ngFor="let item of CertifyImgs;let index=index;"
             [ngClass]="{'mtimg':index==0&&CertifyImgs.length<9}">
      <span class="delete"><ion-icon ios="ios-close-outline" md="close" (click)="deleteCertify($event,index)"
                                     class="delete-icon"></ion-icon></span>
          <img [src]="DomSanitizer.bypassSecurityTrustUrl(item.url)"
               (click)="navPreview({time:false,index:index,items:CertifyImgs})">
        </div>
        <span id="container" *ngIf="CertifyImgs.length<9">
      <div class="add">
            <input type="file" value="file" class="hiddenFile" (change)="handleFiles($event)">
     <img  src="assets/imgs/add.png">
      </div>
  </span>
        <div class="clear"></div>
      </div>
    </ion-card>
  </div>

  <div class="btns">
    <button ion-button color="zj-main-color" [disabled]="QuestionIndex==0" [ngClass]="{'disable':QuestionIndex==0}"
            (click)="onPrivious(QuestionList[QuestionIndex])" icon-left>上一题
    </button>
    <button ion-button color="zj-main-color" [hidden]="(QuestionIndex+1)==QuestionList.length"
            (click)="onNext(QuestionList[QuestionIndex])" icon-right>下一题
    </button>
    <button ion-button color="zj-main-color" [hidden]="(QuestionIndex+1)!=QuestionList.length"
            (click)="onFinish(QuestionList[QuestionIndex])" icon-right>完成
    </button>

  </div>


</ion-content>
