page-collegegage{
  p{
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
  }
  .optMod{
    background-color: #FFF;
    width: 96%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
  }
  .optMod p span{
    width: 40px;
    height: 40px;
    display: block;
    float: left;
  }
  .optMod p.depict{
    font-size: 16px;
    line-height: 20px;
  }
  .optMod p.result{
    width: 100%;
    margin: 0 auto;
  }
  .optMod p.result span
  {
    border-right: none;
    background: url('../assets/images/x_left.png') no-repeat 0%,
                url('../assets/images/x_right.png') no-repeat 100%;
  }
  .optMod p.result span.active{
    background-color: #ccc;
  }
  .optMod p.result span.active
  {
    background: url('../assets/images/s_left.png') no-repeat 0%,
                url('../assets/images/s_right.png') no-repeat 100%;
  }
  .optMod p.result label{
    float: right;
    margin-top: 10px;
    color: #f8c067;
  }
  .pageBtnDiv {
    height: 50px;
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .pageBtnDiv button {
    border: none;
    background: #e99c34;
    color: #FFF;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 3px;
  }
}