page-read-list {
    .user-name {
        font-size: 16px;
        color: #666666;
        font-family: "Microsoft YaHei";
        // font-weight: bold;
    }
    .tel {
        font-size: 14px;
        color: #666666;
        font-family: "Microsoft YaHei";
    }
}