/* You can add global styles to this file, and also import other style files */

@import "modal";
body {
    font-family: PingFangSC-Regular;
    color: #666666;
    letter-spacing: 0.17px;
}

.base {
    font-family: PingFangSC-Regular;
    color: #666666;
    letter-spacing: 0.17px;
}

.ant-table-content {
    tr {
        th {
            text-align: center
        }
    }
    td {
        text-align: center
    }
}

.col-w {
    width: 120px;
}

.ant-modal-close-x {
    line-height: 40px;
}

.font26 {
    font-size: 1.3rem;
}

.font20 {
    font-size: 1.2rem;
}

.font16 {
    font-size: 1rem;
}

.font14 {
    font-size: 14px;
}

.font12 {
    font-size: 12px;
}

.font10 {
    font-size: 10px;
}

/*字体*/

.font(@size: 14px) {
    font-size: @size;
}

.postion(@dr: relative) {
    position: @dr;
}

body {
    background-color: #F9FAFE;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.d-ib {
    display: inline-block;
}

.blue {
    color: #13A0FA;
}

.bg-blue {
    background-color: #13A0FA
}

.color-3E3E3E {
    color: #3E3E3E
}

.color-FB5F2D {
    color: #FB5F2D;
}

.color-D5D5D5 {
    color: #D5D5D5;
}

.color-666 {
    color: #666666
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.ant-pagination-item-active {
    background: #FFC000;
    border-radius: 4px;
    border-color: #FFC000;
    a {
        color: #ffffff;
    }
}

.ant-pagination-item:focus,
.ant-pagination-item:hover {
    border-color: #FFC000;
}
.search-btn{
  background: #FFC000;
  color: #fff;
  border-color: #FFC000;
}
.b-cancle{
  position: fixed;
  right: 5px;
  bottom: 10px;
  width: 70px;
}


.not-exam .ant-modal-header{padding:9px 12px;}
.not-exam .ant-modal-close-x{width:40px;height:40px;}
.not-exam .ant-modal-body{padding:12px;}
.not-exam .ant-table-tbody>tr>td,.not-exam  .ant-table-thead>tr>th{padding:8px 4px;}
.not-exam .ant-modal{top:80px;}
.not-exam .ant-modal-body{min-height:400px;}

.exam-counsellor .ant-table-thead>tr>th{padding:5px 16px;}

.ant-modal{width:90%;}











