
.academy_item {
  background: #2c3359;
  box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 10px 0;
  height: 286px;
  .academy-title {
    background: #242c56;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 56px;
    line-height: 56px;
  }
  .a_list {
    margin: 10px 0;
    display: inline-block;
    .a_item {
      width: 160px;
      text-align: center;
    }
  }
  .color_8ad321 {
    font-family: PingFangSC-Light;
    color: #8ad321;
    margin-top: 8px;
    letter-spacing: 0.77px;
    text-shadow: 0 0 20px #98da55;
  }
  .color_e32c42 {
    font-family: PingFangSC-Light;
    color: #e32c42;
    margin-top: 8px;
    letter-spacing: 0.77px;
    text-shadow: 0 0 20px #e32c42;
  }
  .t-s {
    letter-spacing: 0.43px;
    margin-top: 6px;
    height: 30px;
    line-height: 30px;
    text-shadow: 0 0 20px #ff982b;
  }
}
.b_r{
  border-right: 1px solid #d8d8d8;
}
.m_r{
  margin-right: 12px;
}
