// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.zj-close-color {
  color: #8e9093;
}

/*取消按钮*/

.zj-alert-close {
  color: #8e9093 !important;
}

.list-ios .item-block {
  border-bottom: 1px solid $list-md-border-color !important;
}

.list-ios .item-block .item-inner {
  border-bottom: 0 !important;
}

.ion-page > ion-content {
  background: #F5F5F5;
}

.content-ios.outer-content {
  background: #F5F5F5;
}

.searchbar-ios {
  background: none;
  border-bottom: none;
}

.zj-t-center {
  text-align: center;
}

.font-color {
  color: #727272;
}

/*图片背景圆*/

.circle {
  width: 35px;
  padding-left: 8px;
  height: 35px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.item-divider-ios {
  .label-ios {
    color: color($colors, font);
  }
}
.none {
  text-align: center;
  margin-top: 10%
}
.noneimg {
  width: 200px;
}
.noneFont{
  color: #666666;
  font-size: 14px;
}
