<ion-content class="index-cont">
    <form name="f">
        <div class="row-mar overh">
            <P class="fn18 color4a center" style="margin:15px 0;">社团活动申请</P>
            <div class="cont-form">
                <ul>
                    <li class="surplus-num-box" *ngIf="retijiao">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 审批不通过原因</p>
                        <ion-item>
                            <ion-textarea maxlength="50" max="50" class="textarea" [(ngModel)]="LeaveApply.passinfo" [readonly]="true" name="passinfo"></ion-textarea>
                            <!-- <p class="surplus-num" *ngIf="LeaveApply.passinfo.length">{{50 - LeaveApply.passinfo.length}}</p> -->
                        </ion-item>
                    </li>
                    <li class="overh">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 活动名称</p>
                        <ion-item>
                            <ion-input type="text" maxlength="30" [(ngModel)]="LeaveApply.Activity" name="Activity"></ion-input>
                        </ion-item>
                    </li>
                    <li class="surplus-num-box">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 活动内容</p>
                        <!-- <textarea class='file-message mr' #textarea name="filetext" [(ngModel)]="LeaveApply.filetext" (ngModelChange)="txtChange(textarea.value)"
                                    maxlength="50" rows="2"></textarea> -->
                        <ion-item>
                            <ion-textarea maxlength="50" max="50" class="textarea" [(ngModel)]="LeaveApply.Info" name="Info"></ion-textarea>
                        </ion-item>
                        <p class="surplus-num" *ngIf="LeaveApply.Info.length">{{50 - LeaveApply.Info.length}}</p>
                    </li>
                    <li class="overh">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 举办时间</p>
                        <ion-item>
                            <ion-datetime id="Starttime" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMM DD" monthShortNames="1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月"
                                [(ngModel)]="LeaveApply.Starttime" doneText="完成" cancelText="取消" [min]="TaskTime" name="Starttime" [max]="Year+10"></ion-datetime>
                            <!-- <ion-datetime id="StartDate" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMM DD" monthShortNames="1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月"
                                    [(ngModel)]="LeaveApply.StartDate" doneText="完成" cancelText="取消" [max]="TaskTime" name="StartDate"></ion-datetime> -->
                        </ion-item>
                    </li>
                    <li class="overh">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 举办地点</p>
                        <ion-item>
                            <ion-input type="text" maxlength="30" [(ngModel)]="LeaveApply.Place" name="Place"></ion-input>
                        </ion-item>
                    </li>
                    <li class="overh">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 活动联络人</p>
                        <ion-item>
                            <ion-input type="text" maxlength="30" [(ngModel)]="LeaveApply.Connect" name="Connect"></ion-input>
                        </ion-item>
                    </li>
                    <li class="overh">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 手机号码</p>
                        <ion-item>
                            <ion-input type="number" maxlength="30" [(ngModel)]="LeaveApply.phone" name="phone"></ion-input>
                        </ion-item>
                    </li>
                    <li class="overh">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 预计参加人数</p>
                        <ion-item>
                            <ion-input type="number" maxlength="30" [(ngModel)]="LeaveApply.peoplenum" name="peoplenum"></ion-input>
                        </ion-item>
                    </li>
                    <!-- <li>
                            <p class="text-css">
                                <i style="color: #ff0000;">*</i> 所获奖项级别</p>
                            <ion-item>
                                <ion-select [disabled]="selestFB" [(ngModel)]="LeaveApply.JiBie" interface="action-sheet" [cancelText]="displayTxt" name="JiBie">
                                    <ion-option [value]='item' *ngFor="let item of JiBieTypes">{{item.CodeName}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                        </li> -->
                    <!-- <li>
                            <p class="text-css">
                                <i style="color: #ff0000;">*</i> 名次</p>
                            <ion-item>
                                <ion-select [disabled]="selestMC" [(ngModel)]="LeaveApply.MingCi" interface="action-sheet" [cancelText]="displayTxt" name="MingCi">
                                    <ion-option [value]='item' *ngFor="let item of MingCiTypes">{{item.CodeName}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                        </li> -->
                    <!-- <li>
                            <p class="text-css">
                                <i style="color: #ff0000;">*</i> 证明材料(证书)</p>
                            <div class="upload overh">
                                <span class="container fl relative" *ngIf="CertifyImgs.length<1">
                                    <input type="file" value="file" class="hiddenFile" (change)="handleFiles($event)">
                                    <img src="assets/images/add.png" style="width: 100%;">
                                </span>
                                <div class="Certify fl relative center" *ngFor="let item of CertifyImgs;let index=index;" [ngClass]="{'underimg':index==4}">
                                    <img class="delete-icon absolute" src="assets/images/delete.png" (click)="deleteCertify($event,index)">
                                    <img class="file-img" [src]="DomSanitizer.bypassSecurityTrustUrl(item.AttachmentURL)">
                                </div>
                                <div class="clear"></div>
                            </div>
                        </li> -->
                </ul>
            </div>
        </div>
    </form>
    <div class="center" style="margin-top:20px;margin-bottom: 20px;">
        <!-- <button class="submit-tab mr fn16" ion-button [disabled]="subStop" (click)="tabAlert()" block>提交</button> -->
        <button *ngIf="activitystatus==1" class="submits-tab" [disabled]="subStop" (click)="cancel()">返回</button>
        <button *ngIf="activitystatus==1" class="submitr-tab" [disabled]="subStop" (click)="tabAlertr()">提交</button>
        <button *ngIf="shetuanstatus==1 && !activitystatus" class="submit-tab mr fn16" [disabled]="subStop" (click)="tabAlert()"
            block>提交</button>
    </div>
</ion-content>