.content{
    background-color:#fafafa;
    margin: 0;
    padding: 16px;
    height: 100%;
  }
.return_List{
  font-size: 14px;
  .pointer{
    cursor: pointer;
  }
  .curren_page{
    color: #138def;
  }
  }
.search-form{
    background: #ffffff;
    padding-bottom: 60px;
    padding-top:20px;
    padding-left: 16px;
  }
  :host ::ng-deep .ant-select-selection{
    background-color: #f5f5f5;
  }
:host ::ng-deep .ant-input {
  background-color: #f5f5f5;
  font-family:PingFangSC-Regular;
  font-size:8px;
  color:#666666;
  letter-spacing:0.20px;
}
:host ::ng-deep  .ant-table{
  font-family: "PingFangSC-Regular";
}
.btn{
    background:#ffc000;
    border-radius:4px;
    margin-right: 6px;
  
  }
  .btn_export{
    width:90px;
  }
  .btn_reset,.search{
    width: 60px;
  }
  .btn_new{
    width: 126px;
  }
  :host ::ng-deep .ant-btn{
    height: 24px;
  }
  :host ::ng-deep .ant-btn-primary {
    color: #fff;
    background-color: #ffc000;
    border-color: #ffc000;
  }

  
  :host ::ng-deep .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    color: #fff;
    background-color: #ffc000;
    border-color: #ffc000;
  }
  .tilte{
    display: block;
    font-family:PingFangSC-Regular;
    font-size:18px;
    color:#3e3e3e;
    letter-spacing:0;
    text-align:center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.time{
    display: block;
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#666666;
    letter-spacing:0;
    text-align:center;
    margin-bottom: 10px;
}