.logom {
    margin: 10px 10px 0px;
}

.mr-sm {
    margin-right: 8px;
}

.text-blue {
    color: #1890ff !important;
}

.btndelete {
    color: #FB5F2D;
}

.components-table-demo-control-bar {
    margin-bottom: 10px;
}

.infoloading {
    width: 100px !important;
    /* text-align: center;
    border: 1px solid red; */
}

.infoloading .ant-spin-nested-loading>div>.ant-spin {
    width: 100px !important;
}

:host ::ng-deep .ant-alert-info {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    :host ::ng-deep .ant-modal {
        width: 372px !important;
        transform-origin: 71px 96px 0 !important;
        position: relative;
        margin: 0 auto;
    }
}

:host ::ng-deep .ant-modal {
    width: 372px !important;
    transform-origin: 71px 96px 0 !important;
    position: relative;
    width: auto;
    margin: 0 auto;
    top: 100px;
    padding-bottom: 24px;
}