ul,li{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.icon {
  margin-left: 8px;
  img {
    width: 136px;
    height: 164px;
  }
  .icon-body {
    margin-top: 12px;
    div {
      margin: 8px 0;
    }
  }
}

.mm {
  margin: 12px;
  margin-right: 69px;
}

.card-chart {
  border: 1px solid #EEEEEE;
  min-height: 160px;
  background-color: #ffffff;
  /*margin-top: 6px;*/
  margin-bottom: 16px;
  border-radius: 5px;
  position: relative;
  .card-bar {
    height: 28px;
    color: #ffffff;
    text-align: left;
    background: rgba(73,114,240,0.90);
    border-radius: 4px 4px 0 0;
    line-height: 27px;
    padding-left: 12px;
    border-bottom: 1px solid #EEEEEE;
  }
  .bar-icon {
    width: 16px;
    position: absolute;
    top: 4px;
    left: 16px;
  }
  .card-body {
    margin: 0 auto;
  }
}

.mb {
  margin: 18px 12px;
}

.m-mb{
  margin: 18px 0;
}
.col-w{
  width: 165px;
}
.more-w{
  width: 70px;
}
.ls2::first-letter {
  letter-spacing: 28px
}

.fixedBar {
  position: fixed;
  width: 69px;
  text-align: center;
  top: 132px;
  right: 0px;
  background-color:  #8762B7;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  /*    top: 416px;
     left: 611px; */
}

.fixedMenu {
  position: fixed;
  top: 152px;
  z-index: 1;
  right: 0px;
}

.menu {
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  background-image: linear-gradient(45deg, #4D84FB 0%, #8762B7 100%);
  background-color: #ffffff;
  .item {
    padding: 2px;
    img{
      width: 12px;
      margin-right: 4px;
      margin-bottom: 2px;
    }
  }
}

.check {
  background: #513D8C;
  box-shadow: 0 0 4px 0 #9176D6, inset 0 0 3px 0 #392671;;
  a {
    color: #ffffff !important;
  }
}

.b-cancle {
  position: fixed;
  right: 5px;
  bottom: 10px;
}

.right {
  display: inline-block;
  text-align: right;
  width: 90px;
}
nz-spin {
  display: inline-block;
  margin-top: 30px;
  color: black;
}
.wd100 {
  width: 100px;
}

.table {
  margin: 4px;
}

.eye-off {
  width: 20px;
  margin-left: 4px;
}

.eye-o {
  font-size: 16px;
  margin-left: 4px;
}
.btn{
  width: 100px;
  margin: 8px 0;
}
.add{
  font-size: 20px;
  width: 40px;
  margin-right: 8px;
}
.mr12{
  margin-right: 30px
}
.mr10{
  margin-right: 10px
}
.ztab{
  margin-bottom: 16px;
}
.ztab-title{
  background: rgba(73,114,240,0.90);
  border-radius: 4px 4px 0 0;
  padding:0px 10px;
  height: 24px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 24px;
}
.border-radius{
  border-radius: 4px;
}
.ztab-content{
  background: #FFFFFF;
  box-shadow: 0 2px 5px 0 #E3E3E3;
  border-radius: 4px;
  padding: 0px 10px;
}
.tabshow{
  float: right;
  position: relative;
}
.tabshow img{
  width: 10px;
  height: 10px;
  margin-bottom: 2px;
}
.shouqi{
  position: absolute;
  top: 7px;
  left: 0px;
  border: 1px solid red;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.shouqi img{
  width: 100%;
  height: 100%;
  border: 0px;
  line-height: 10px;
}
.shouqifont{
  padding-left:5px; 
}

.chart{
  display: flex;
  align-items: center;
  align-content:center;
  margin: 0px 0px 20px 0px;
  padding-top: 10px;
}
.chart-radar{
  flex: 0.6;
  height: 300px;
}
.radar{
  width: 100%;
  height: 100%;
}
.radar div{
  margin: 0px auto;
}
.radar canvas{
  margin: 0px auto;
  text-align: center;
}
.rank{
 flex: 0.4;
}
.rank p{
  font-size: 24px;
  color: #4A4A4A;
  margin: 0px 0px 0px 40px;
  padding: 0px;
}
.type-score{
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #E3E3E3;
}
.type-score:first-child{
  margin-top: 0px;
}
.type-score:last-child{
  border-bottom: 0px solid #E3E3E3;
}
.type-title{
  border-left: 3px solid #5B80F1;
  padding-left:7px;
  font-size: 14px;
  color: #5B80F1;
  line-height:13px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.type-list{
  width: 100%;
  overflow: hidden;
  padding: 0px 10px;
}
.type-list li{
  float: left; 
  line-height: 25px;
  font-size: 12px;
  color: #4A4A4A;
  margin-right: 15px;
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // border: 1px solid red;
}
.type-list li .icons{
  width: 4px;
  height: 4px;
  display:inline-block;
  background: #5B80F1;
  border-radius: 100%;
  margin-right: 5px;
  margin-bottom: 2px;
}
.nodata{
  margin: 0px;
  height: 50px;
  padding: 0px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #666666;
}