.hr {
  height: 1px;
  border: none;
  border-top: 1px solid #EEEEEE;
  margin: 2px 20px;
}
.mlt{
  margin-left: 20px;
}
.home {
  padding-top: 20px;
  background-color: #ffffff;
  height: calc(100% - 70px);
  overflow: auto;
}
.fun {
  text-align: left;
  .fun-list {
    text-align: center;
    position: relative;
    margin: 5px 20px;
    width: 100px;
    padding: 7px 0;
    display: inline-block;
    .fun-item {
      display: inline-block;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 #DCE0EB;
      border-radius: 6px;
      width: 56px;
      height: 56px;
      line-height: 72px;
      /* margin: 0 28px;*/
      img {
        width: 28px;
        height: 26.6px;
      }
    }
    .mlt{
      margin: 6px 0 0 0;
    }

  }

}
