promisebookone {
    p{padding: 0;margin: 0;}
    ul{list-style: none;}
    .fl{float: left;}
    .fr{float: right;}
    .center{text-align: center;}
    .dib{display: inline-block;}
    .relative{position: relative;}
    .absolute{position: absolute;}
    .overh{overflow: hidden;}
    .mr{margin:0 auto;}
    .db{display: block;}
    .fn16{font-size: 16px;}
    .fn18{font-size: 18px;}

    .cover{padding: 34px 30px;font-size: 16px;color: #4a4a4a;}

    .pro-text{ text-indent:2em;color: #4a4a4a;margin-top:25px;}
    .sign-wrap{margin-top:80px;}
    .sign{width: 200px;}
    .sign1{height:40px;line-height: 40px;}
    .sign2{margin-top:10px;}


    .pro-btn{position: absolute;bottom:20px;left:50%;width: 310px;margin-left: -150px;}
    .pro-btn button{width: 140px;margin-top:40px;border-radius: 6px;font-size: 18px;}
    .pro-btn button:nth-child(1){border: 2px solid #FFC000;color: #FFC000;margin-right:10px;}
    .pro-btn button:nth-child(2){background: #FFC000;color: #fff;}














  
}
