.alert-ios .alert-head{padding:6px 10px 6px;}
.alert-ios .alert-message{text-align: left;color:#4a4a4a;}
.message-wain{margin:0;text-indent: 2em;}
.make-sure{margin:0;text-indent: 2em;}
.make-sure-name{color:#ff0000;line-height: 20px;}

































