.hr {
    height: 1px;
    border: none;
    border-top: 1px solid #EEEEEE;
    margin: 2px 20px;
}

.mlt {
    margin-left: 20px;
}

.font16 {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: #666666;
}

.linker_Box {
    padding: 30px;
    background-color: #ffffff;
    height: calc(100% - 40px);
    overflow: auto;
}

.linker {
    text-align: left;
    .linker_list {
        text-align: center;
        position: relative;
        margin: 5px 30px;
        width: 120px;
        padding: 7px 0;
        display: inline-block;
        .linker_item {
            display: inline-block;
            background: #FFFFFF;
            box-shadow: 0 2px 4px 0 #DCE0EB;
            border-radius: 6px;
            width: 80px;
            height: 80px;
            line-height: 72px;
            /* margin: 0 28px;*/
            img {
                width: 70px;
                height: 70px;
                margin-top: 6px;
            }
        }
        .mlt {
            margin: 6px 0 0 0;
        }
    }
}