page-secondclassroomdetail {
    ul,li{list-style: none;margin:0;padding:0;}
    p,h1,h2,h3{margin:0;padding:0;}
    .fl{float: left;}
    .fr{float: right;}
    .center{text-align: center;}
    .dib{display: inline-block;}
    .relative{position: relative;}
    .absolute{position: absolute;}
    .fixed{position: fixed}
    .overh{overflow: hidden;}
    .mr{margin:0 auto;}
    .db{display: block;}
    .fn9{font-size: 9px;}
    .fn12{font-size: 12px;}
    .fn14{font-size: 14px;}
    .fn16{font-size: 16px;}
    .fn18{font-size: 18px;}
    .color4a{color: #4A4A4A;}
    .color9b{color: #9B9B9B;}
    .colore2{color: #4A90E2;}


    .index-cont{background: #FAFAFA;color: #4A4A4A;}

    .info-cont{height:120px;background: #fff;padding: 20px 0 0 35px;}
    .info-cont .user-header{width:60px;height:80px;}
    .info-cont .info-detail{margin-left: 20px;}
    .info-cont .info-detail span{line-height: 26px;}

    .titlestatus-box{padding: 0 15px;}
    .titlestatus-box .img-css{width: 50px;top:5px;right:10px;}

    .userinfo-box{padding:15px;}
    .userinfo-box .css-li{height:40px;line-height: 40px;border-bottom: 1px solid #E4E4E4;}

    .info-box{width: 100%;padding:15px;}
    .info-box .css-li{line-height: 30px;display: flex;}
    .info-box .css-input{line-height: 30px;display: inline-flex;}

    .info-box .css-div{line-height: 40px;}

    .img-box{margin-top:10px;}
    .img-box p{margin:0 5px 10px;}
    .img-box p img{width: 85px;height:85px;}

    .yes-css{background: #FFC103 !important;color: #fff;border: 1px solid #FFC000;width: 100px;height:30px;margin:0 10px;}
    .not-css{color: #FFC103;border: 1px solid #FFC000;width: 100px;height:30px;margin:0 10px;background: #FFFFFF !important;}
    .info-span {display: flex;width: 70%;justify-content: left;align-items: center;}  
    .info-head {display: flex;width: 30%;justify-content: left;align-items: normal;}  

    .b-input {
        height: 28px;
        line-height: 28px;
        background-color: #ffffff;
        border: 1px solid #E4E4E4;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 #E3E3E3;
      }
    
      .text-input-ios {
        margin: 0px 8px 0px 3px;
        padding: 0;
        width: calc(100% - 8px);
    }
  









}
