page-province {
    ul{list-style: none;}
    .fl{float: left;}
    .fr{float: right;}
    .center{text-align: center;}
    .dib{display: inline-block;}
    .relative{position: relative;}
    .absolute{position: absolute;}
    .overh{overflow: hidden;}
    .mr{margin:0 auto;}
    .db{display: block;}

}
