.card {
  position: relative;
 /* border: 1px solid #EEEEEE;*/
  margin: 8px;
  padding: 12px;
  height: 100px;
  border-radius: 8px;
  text-align: center;
  .card-content {
    height: 80px;
    padding-top: 6px;
    width: 50%;
    text-align: center;
    display: inline-block;
  }
  .left-content {
    border-right: 1px solid #D5D5D5;;
  }
}
.bg-blue{
  background: #EDF5FE;
  box-shadow: 0 1px 3px 0 #E3E5EB;
}
.bg-white{
  background: #ffffff;
}
.border{
  border: 1px solid #D5D5D5;
}
.p-ab-r100{
  position: absolute;
  right: 100px;
}
.p20{
  padding: 6px 0px;
  nz-input-group{
    width: 85%;
  }
  button{
    margin-left: 6px;
    margin-top: -2px;
    background: #FFC000;
    color: #ffffff;
    font-size: 14px;
    border: none;
    position: relative;
    top: -1px;
  }
  input{
    text-align: center;
  }
}

.chart{
  margin: 16px 8px 8px 8px;
}
.chart1{
  margin: 0px 8px 8px 8px;
}
.card-chart{
  border: 1px solid #EEEEEE;
  height: 160px;
  background-color: #ffffff;
  /*margin-top: 6px;*/
  margin-bottom: 8px;
  border-radius: 5px;
  text-align: center;
  .card-bar{
    height: 27px;
    text-align: left;
    line-height: 27px;
    padding-left: 40px;
    border-bottom: 1px solid #EEEEEE;
  }
  .bar-icon{
    width: 16px;
    position: absolute;
    top: 4px;
    left: 16px;
  }
  .card-body{
    margin: 0 auto;
  }
}
.item-m{
  text-align: left;
  margin: 4px 4px;
  span{
    margin-right: 10px;
    display: inline-block;
    width: 4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.expand{
  position: absolute;
  text-decoration:none;
  right: 10px;
}
.needback-title{
  position: absolute;
  left: 120px;
  top: 45px;
}
.inner-card{
  nz-card{
    margin: 4px;
    border-radius: 5px;
    display: inline-block;
  }
}
