promise-detail {
  .scroll-content {
    background-color: #ffffff;
    i.yibaodao {
      color: #13a0fa;
      font-size: 45px;
    }
    i.daifabu {
      color: #ffc000;
      font-size: 45px;
    }
    i.yijieshu {
      color: #FB5F2D;
      font-size: 45px;
    }
    .status {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
}
