page-detail {
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    p,
    h1,
    h2,
    h3 {
        margin: 0;
        padding: 0;
    }
    hr {
        margin: 5px 0;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    .center {
        text-align: center;
    }
    .dib {
        display: inline-block;
    }
    .relative {
        position: relative;
    }
    .absolute {
        position: absolute;
    }
    .fixed {
        position: fixed
    }
    .overh {
        overflow: hidden;
    }
    .mr {
        margin: 0 auto;
    }
    .db {
        display: block;
    }
    .fn12 {
        font-size: 12px;
    }
    .fn13 {
        font-size: 13px;
    }
    .fn14 {
        font-size: 14px;
    }
    .fn16 {
        font-size: 16px;
    }
    .fn17 {
        font-size: 17px;
    }
    .fn18 {
        font-size: 18px;
    }
    .color4a {
        color: #4A4A4A;
    }
    .index-cont {
        background: #FAFAFA;
        color: #4A4A4A;
    }
    .my-apply {
        width: 270px;
        height: 150px;
        background: #9BD65F;
        border: 1px solid #5EB702;
        box-shadow: 0 2px 5px 0 #E3E3E3;
        border-radius: 8px;
        margin: 50px auto 40px;
    }
    .my-apply img {
        width: 60px;
        margin: 25px 0 20px;
    }
    .my-apply p {
        color: #fff;
    }
    .my-approve {
        width: 270px;
        height: 150px;
        background: #63A6F5;
        border: 1px solid #3489EE;
        box-shadow: 0 2px 5px 0 #E3E3E3;
        border-radius: 8px;
    }
    .my-approve img {
        width: 60px;
        margin: 25px 0 20px;
    }
    .my-approve p {
        color: #fff;
    }
    .studentbody {
        font-family: PingFangSC;
        color: #4A4A4A;
        letter-spacing: 0.38px; // display: flex;
    }
    .basic {
        margin: 2px auto;
        display: flex;
        flex-direction: row;
    }
    .sexr {
        position: relative;
        overflow: hidden;
        min-width: 20px;
        height: 20px;
        background: #F5F5F5; // top: 5px;
        // left: 5px;
        box-sizing: border-box; //必须是border-box，自行体会
        // color: white;
        // font-size: 10px;
        // text-align: center;
        // line-height: 20px;
        // margin: -7px 3px;
        margin-left: 2px;
        padding: -3px 5px;
        border-radius: 100%;
        display: inline-block; //肯定是inline-block，因为行内元素宽度auto呀
        vertical-align: bottom;
        img {
            position: absolute;
            width: 18px;
            height: 18px;
            bottom: 2px;
            left: 1.2px;
        }
    }
    .sexb {
        position: relative;
        overflow: hidden;
        min-width: 20px;
        margin-left: 2px;
        height: 20px;
        background: #F5F5F5; // top: 5px;
        // left: 5px;
        box-sizing: border-box; //必须是border-box，自行体会
        // color: white;
        // font-size: 10px;
        // text-align: center;
        // line-height: 20px;
        // margin: -7px 3px;
        padding: -3px 5px;
        border-radius: 100%;
        display: inline-block; //肯定是inline-block，因为行内元素宽度auto呀
        vertical-align: bottom;
        img {
            position: absolute;
            width: 18px;
            height: 18px;
            bottom: 2px;
            left: 1.9px;
        }
    }
    .none {
        // position: fixed;
        text-align: center; // margin-top: 50%;
        background: #ffffff;
        width: 100%; // bottom: 50%;
        height: 100%;
    }
    .noneimg {
        margin: 5px auto;
        width: 200px; // background: #FAFAFA;
    }
    .noneFont {
        color: #666666;
        font-size: 14px; // background: #FAFAFA;
    }
    .honor-content {
        width: 55px; // font-size: 14px; // margin: 5px 5px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis; // -webkit-line-clamp: 1;
        white-space: nowrap;
        vertical-align: text-bottom; // position: relative;
    }

}