html,body {margin: 0px; padding: 0px;}

.alert-ios .alert-button:first-child {font-size: 16px;color: #666666;}
.alert-ios .alert-button:last-child {border-right: 0;font-weight: normal;}
.zj-t-center{text-align: center!important;}

.medigo{position: fixed;overflow: auto;top: 0;right: 0;bottom: 0;left: 0;z-index: 1000;-webkit-overflow-scrolling: touch;outline: 0;background-color: rgba(55,55,55,.6);}
.file-box{position: fixed;top:50%;margin-top:-60px;width:260px;height:100px;left: 50%;margin-left:-130px;border-radius:10px;background: #fff;z-index: 1001;}
.cont-txt{text-align: center;font-size: 14px;color: #4a4a4a;border-bottom: 1px solid #ccc;padding: 20px 0;margin:0;}
.foot-btn{text-align: center;font-size: 16px;margin:0;color: #13a0fa;margin-top:8px;}

.alert-ios .alert-wrapper{max-width: 280px;}
.alert-ios .alert-message{text-align: left;}
.alert-message p{margin:10px 0;}
.alert-message p:nth-child(1){font-size: 14px;color:#9b9b9b;}
.alert-message p:nth-child(2){font-size: 16px;color:#4a4a4a;}
.alert-message p:nth-child(3){font-size: 14px;color:#9b9b9b;}
