changetale {
    ul{list-style: none;}
    .fl{float: left;}
    .fr{float: right;}
    .center{text-align: center;}
    .dib{display: inline-block;}
    .relative{position: relative;}
    .absolute{position: absolute;}
    .overh{overflow: hidden;}
    .mr{margin:0 auto;}
    .db{display: block;}


    .scroll-content{padding-top: 20px!important;}
    .change-title{font-size: 16px;color: #4A4A4A;}
    .pro-text{margin-top:10px;color: #4A4A4A;}
    .file-message{height:225px;width: 98%;border:1px solid #ccc;border-radius:5px;}
    .file-num{bottom:-5px;right:15px;color: #9B9B9B;font-size: 12px;}

    .pro-btn button{width: 250px;height:40px;margin-top:100px;background: #FFC000;border-radius: 6px;}















  
}
