<ion-content class="index-cont">
    <form name="f">
        <span class="dib fn14 color9b absolute" style="top:5px;right:10px;" (click)="gotoHelp()">帮助</span>
        <div class="row-mar overh">
            <P class="fn18 color4a center" style="margin:15px 0;">评奖信息上报</P>
            <div class="cont-form">
                <ul>
                    <li class="overh">
                        <p class="text-css"><i style="color: #ff0000;">*</i> 活动名称</p>
                        <ion-item class="select-search">
                            <select-searchable [(ngModel)]="port" [items]="ports" itemValueField="ProgramCode" name="port"
                                itemTextField="ProgramName" [canSearch]="true" (onChange)="portChange($event)" [noItemsFoundText]="'未能匹配到该活动,请明确活动名称后重新匹配'" searchPlaceholder="搜索" closeButtonText="X">
                                <ng-template selectSearchableLabelTemplate>
                                </ng-template>
                            </select-searchable>
                        </ion-item>
                    </li>
                    <li>
                        <p class="text-css"><i style="color: #ff0000;">*</i> 所获奖项级别</p>
                        <ion-item>
                            <ion-select [disabled]="selestFB" [(ngModel)]="LeaveApply.JiBie" interface="action-sheet" [cancelText]="displayTxt" (ngModelChange)="jiBieChange()" name="JiBie">
                                <ion-option [value]='item' *ngFor="let item of JiBieTypes">{{item.CodeName}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </li>
                    <li>
                        <p class="text-css"><i style="color: #ff0000;">*</i> 名次</p>
                        <ion-item>
                            <ion-select [disabled]="selestMC" [(ngModel)]="LeaveApply.MingCi" interface="action-sheet" [cancelText]="displayTxt" name="MingCi">
                                <ion-option [value]='item' *ngFor="let item of MingCiTypes">{{item.CodeName}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </li>
                    <li>
                        <p class="text-css"><i style="color: #ff0000;">*</i> 获奖时间</p>
                        <ion-item>
                            <ion-datetime id="StartDate" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMM DD"
                                monthShortNames="1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月" [(ngModel)]="LeaveApply.StartDate"
                                doneText="完成" cancelText="取消" [max]="TaskTime" name="StartDate"></ion-datetime>
                        </ion-item>
                    </li>
                    <li>
                        <p class="text-css"><i style="color: #ff0000;">*</i> 证明材料(证书)</p>
                        <div class="upload overh">
                            <span class="container fl relative" *ngIf="CertifyImgs.length<1">
                                <input type="file" value="file" class="hiddenFile" (change)="handleFiles($event)">
                                <img src="assets/images/add.png" style="width: 100%;">
                            </span>
                            <div class="Certify fl relative center" *ngFor="let item of CertifyImgs;let index=index;" [ngClass]="{'underimg':index==4}">
                                <img class="delete-icon absolute" src="assets/images/delete.png" (click)="deleteCertify($event,index)">
                                <img class="file-img" [src]="DomSanitizer.bypassSecurityTrustUrl(item.AttachmentURL)">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="center" style="margin:20px;">
        <button class="submit-tab mr fn16" ion-button [disabled]="subStop" (click)="tabAlert()" block>提交</button>
    </div>
</ion-content>