.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.cp{cursor: pointer;}
.dib{display: inline-block;}
.overh{overflow: hidden;}
.relative{position: relative;}
.absolute{position: absolute;}
.fn14{font-size: 14px;}
.fn16{font-size: 16px;}
.left{text-align: left;}
.padd-left20{padding-left: 20px;}
.mr{margin:0 auto}
.bold{font-weight: bold;}


.have-detail .ant-table-row td:nth-child(1){width: 30%;}

.message{width: 490px;height:90px;border-radius: 5px;border:1px solid #d9d9d9;resize:none;padding:5px;}
.file-num{bottom:7px;right:5px;}






