/* You can add global styles to this file, and also import other style files */
@import "modal";

@zj-color:#FFC000;
.base-font {
  font-family:PingFangSC-Semibold;
  color:#ffffff;
  letter-spacing:0.29px;
  line-height:35px;
  text-shadow:0 2px 3px rgba(0,0,0,0.16);
  text-align:left;
}
.font2{
  font-family:PingFangSC-Light;
}
.base {
  font-family: PingFangSC-Regular;
  color: #666666;
  letter-spacing: 0.17px;
}

.ant-modal-close-x {
  line-height: 40px;
}

.font64 {
  font-size: 64px;
}
.font60 {
  font-size: 60px;
}
.font36 {
  font-size: 36px;
}
.font32 {
  font-size: 32px;
}
.font26 {
  font-size: 26px;
}
.font24 {
  font-size: 24px;
}

.font20 {
  font-size: 20px;
}
.font18 {
  font-size: 18px;
}
.font16 {
  font-size: 16px;
}

.font14 {
  font-size: 14px;
}

.font12 {
  font-size: 12px;
}

.font10 {
  font-size: 10px;
}

body {
  background:#1c2449;
}
.btn-zj-color{
  background: @zj-color;
  border: @zj-color;
  color: #fff;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.d-ib {
  display: inline-block;
}

.blue {
  color: #13A0FA;
}
.white{
  color: #ffffff;
}
.bg-blue {
  background-color: #13A0FA
}

.color-3E3E3E {
  color: #3E3E3E
}
.color-ff982b{
  color: #ff982b;
}
.color-FB5F2D {
  color: #FB5F2D;
}

.color-D5D5D5 {
  color: #D5D5D5;
}
.color-6f769e{
  color:#6f769e;
}
.color-666 {
  color: #666666
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.ant-pagination-item-active {
  background: #FFC000;
  border-radius: 4px;
  border-color: #FFC000;
  a {
    color: #ffffff;
  }
}

.ant-pagination-item:focus, .ant-pagination-item:hover {
  border-color: #FFC000;
}

.b-cancle {
  position: fixed;
  right: 5px;
  bottom: 10px;
  width: 70px;
}
.col-w {
  width: 100px!important;
}

.kong {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -126px;
  margin-left: -145px;
  .welcome {
    text-align: center;
    font-size: 32px;
  }
  img {
    width: 290px;
    height: 232px;
  }
}

.texr {
  text-align: center;
  font-size: 26px;
}
.table-center {
  .ant-table-tbody>tr>td,.ant-table-thead > tr > th {
      text-align: center;
  }
}

