
<ion-content class="index-cont">
    <form name="f">
        <div class="row-mar overh">
            <P class="fn18 color4a center" style="margin:15px 0;">社团荣誉上传</P>
            <div class="cont-form">
                <ul>
                    <li class="overh">
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 活动名称</p>
                        <ion-item>
                            <ion-input type="text" maxlength="30" [(ngModel)]="LeaveApply.Name" name="Name"></ion-input>
                        </ion-item>
                    </li>
                    <li>
                        <p class="text-css">
                            <i style="color: #ff0000;">*</i> 图片上传</p>
                        <div class="upload overh">
                            <span class="container fl relative" *ngIf="CertifyImgs.length<9">
                                <input type="file" value="file" class="hiddenFile" (change)="handleFiles($event)">
                                <img src="assets/images/add.png" style="width: 100%;">
                            </span>
                            <div class="Certify fl relative center" *ngFor="let item of CertifyImgs;let index=index;" [ngClass]="{'underimg':index==9}">
                                <img class="delete-icon absolute" src="assets/images/delete.png" (click)="deleteCertify($event,index)">
                                <img class="file-img" [src]="DomSanitizer.bypassSecurityTrustUrl(item.AttachmentURL)">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="center" style="margin-top:20px;margin-bottom: 20px;">
        <!-- <button class="submit-tab mr fn16" ion-button [disabled]="subStop" (click)="tabAlert()" block>提交</button> -->
        <button ion-button class="submit-tab mr fn16" [disabled]="subStop" (click)="tabAlert()" block>提交</button>
    </div>
</ion-content>