<div class="content">
  <div>
    <nz-popconfirm [nzTitle]="'确定要导出吗？'" (nzOnConfirm)="export()">
      <button  [disabled]="isDisabled" nz-popconfirm nz-button [nzType]="'primary'">导出</button>
    </nz-popconfirm>

  </div>
  <div style="text-align: right" *ngIf="total>0" nz-table-title>每页{{page.PageSize}}条，共计:{{total||''}}人</div>
  <nz-table  #nzTable class="simple-table"  [nzAjaxData]="dataSet" [nzLoading]="httpService.loading" [(nzTotal)]="total"  [(nzPageIndex)]="page.Page" [(nzPageSize)]="page.PageSize" [nzBordered]="true" (nzPageIndexChange)="onSearch(AcademyCode,GradeCode)">
    <thead nz-thead>
    <tr>
      <th nz-th><span>学号</span></th>
      <th nz-th><span>姓名</span></th>
      <th nz-th><span>学院</span></th>
      <th nz-th><span>专业</span></th>
      <th nz-th [nzWidth]="'70px'"><span>年级</span></th>
      <th nz-th><span>班级</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
      <td nz-td>{{data.UserCode}}</td>
      <td nz-td>{{data.Name}}</td>
      <td nz-td>{{data.AcademyName}}</td>
      <td nz-td>{{data.MajorName}}</td>
      <td nz-td>{{data.GradeName}}</td>
      <td nz-td>{{data.ClassName}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
