<div class="modal-header">
    <div class="modal-title" *ngIf="type=='status'">
        学生状态
    </div>
    <div class="modal-title" *ngIf="type=='StayInfo'">
        住宿信息
    </div>
    <div class="modal-title" *ngIf="type=='StudentCadres'">
        学生干部
    </div>
</div>
<div *ngIf="type=='status'">
    <nz-table #nzTable [nzShowPagination]="false" [nzData]="statuss||[]" [nzBordered]="true">
        <thead nz-thead>
            <tr>
                <th>
                    <span>状态</span>
                </th>
                <th>
                    <span>原因</span>
                </th>
                <th>
                    <span>批准部门</span>
                </th>
                <th>
                    <span>开始时间</span>
                </th>
                <th>
                    <span>结束时间</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable.data">
                <td>{{data.StatusSort}}</td>
                <td>{{data.Reason}}</td>
                <td>{{data.Department}}</td>
                <td>{{data.StartDate}}</td>
                <td>{{data.EndDate}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
<div *ngIf="type=='StayInfo'">
    <nz-table #nzTable1 [nzShowPagination]="false" [nzData]="StayInfo||[]" [nzBordered]="true">
        <thead nz-thead>
            <tr>
                <th>
                    <span>校区</span>
                </th>
                <th>
                    <span>园区</span>
                </th>
                <th>
                    <span>宿舍楼</span>
                </th>
                <th>
                    <span>单元</span>
                </th>
                <th>
                    <span>房间</span>
                </th>
                <th>
                    <span>床位</span>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable1.data">
                <td>{{data.DmCampusCodeName}}</td>
                <td>{{data.DtDistrictName}}</td>
                <td>{{data.DmDormitoryName}}</td>
                <td>{{data.UtUnitName}}</td>
                <td>{{data.RRoomName}}</td>
                <td>{{data.BBedName}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
<div *ngIf="type=='StudentCadres'">
    <nz-table #nzTable2 [nzShowPagination]="false" [nzData]="StudentCadres||[]" [nzBordered]="true">
        <thead nz-thead>
            <tr>
                <th>
                    <span>职务单位</span>
                </th>
                <th>
                    <span>职务</span>
                </th>
                <th>
                    <span>任职起始时间</span>
                </th>
                <th>
                    <span>任职截止日期</span>
                </th>
              <th>
                    <span>任职状态</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable2.data">
                <td>{{data.ScDepartmentOfDutyName}}</td>
                <td>{{data.ScDutyName}}</td>
                <td>{{data.ScStartDate}}</td>
                <td>{{data.ScEndDate}}</td>
                <td>{{data.ScDutyStatusName||''}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
