.bar-icon{
  width: 20px;
  margin-top: -6px;
  margin-right: 3px;
}
.item-m{
  text-align: left;
  margin: 4px 12px;
  span{
    margin-right: 10px;
    display: inline-block;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.nation{
  height: 300px;
  overflow: auto;
}
