<ion-content class="outer-content">
    <div *ngIf="iscol == '0'">
        <div class="optMod" *ngFor="let x of xlist;let j = index">
            <p class="depict">{{x.id}}、{{x.context}}</p>
            <p class="result">
                <span *ngFor="let c of x.option;let i = index" [ngClass]="{active:c.isOn}" (click)="Toxh(x,i)"></span>
                <label>{{x.score * x.weight}}分</label>
            </p>
        </div>
        <div class="pageBtnDiv">
            <button type="button" class="" style="transition: none;" (click)="SubBtn()">匿名提交</button>
        </div>
    </div>

</ion-content>