page-result {
  .relative-div {
    margin-top: 12px;
    position: relative;
  }
  .absolute-result {
    position: absolute;
    left: 40px;
    top: 20px;
    color: #fff;
    font-size: 1em;
    max-height: 185px;
    overflow: auto;
  }
  .overflow-hidden {
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .overflow{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .publish{
    margin: -10px 45px 0 45px
  }
.img{
  position: relative;
  width: 300px;
  left: 50%;
  top: 8px;
  margin-left: -150px;
}
}
