page-manager-task-detail {
  .scroll-content {
    background-color: #FAFAFA;
    margin: 0px;
    overflow-y: auto;
  }
  ul,
  li {
    list-style-type: none;
  }
  ul,
  li,
  p {
    margin: 0px;
    padding: 0px;
  }
}
