<div class="content overh" style="margin-top: 50px;">
    <div *ngIf="disdden == '0'">
        <nz-table style="width: 100%;" [nzBordered]="true" [nzDataSource]="DataSet" [nzIsPagination]="false">
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of DataSet;let i=index">
                    <td nz-td *ngIf="data.type == '1' || data.type == '2'">
                        <span>{{i+1}}</span>
                    </td>
                    <td nz-td *ngIf="data.type == '1' || data.type == '2'">
                        <span>{{data.name}}</span>
                    </td>
                    <td nz-td *ngIf="data.type == '1'">
                        <nz-radio-group [(ngModel)]="data.topicRadio" style="width: 100%;">
                            <p style="text-align: left;padding-left:20px;" *ngFor="let dataitem of data.optionarr1;">
                                <label nz-radio [nzValue]="dataitem.code">
                                    <span>{{dataitem.title}}</span>
                                </label>
                            </p>
                        </nz-radio-group>
                    </td>
                    <td nz-td *ngIf="data.type == '2'" style="width:50%;">
                        <p style="text-align: left;padding-left:20px;" *ngFor="let dataitem of data.optionarr1;">
                            <label nz-checkbox [(ngModel)]="dataitem.checked">
                                <span>{{dataitem.title}}</span>
                            </label>
                        </p>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="center" style="margin:30px 0 0;" *ngIf="statusJsonStr == '3' && userJsonStr == 'Counselor' && isSubmitJsonStr != '2'">
            <button nz-button [nzType]="'primary'" style="width: 150px;height:40px;" (click)="overbox()">
                <span>完成</span>
            </button>
        </div>
    </div>


    <div *ngIf="disdden == '1'">
        <nz-table #nzTable [nzAjaxData]="DataSet2" [nzLoading]="httpService.loading" [nzBordered]="true" [nzIsPagination]="false">
            <thead nz-thead>
                <tr>
                    <th nz-th>
                        <span>题号</span>
                    </th>
                    <th nz-th>
                        <span>题目</span>
                    </th>
                    <th nz-th>
                        <span>答案</span>
                    </th>
                    <th nz-th>
                        <span>权重</span>
                    </th>
                </tr>
            </thead>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index">
                    <td nz-td>{{i+1}}</td>
                    <td nz-td>{{data.name}}</td>

                    <td nz-td>
                        <p style="text-align: left;padding-left:20px;" *ngFor="let dataitem of data.optionarr2;">{{dataitem}}</p>
                    </td>

                    <td nz-td>{{data.option_score}}</td>
                </tr>
            </tbody>
        </nz-table>
        <div class="center" style="margin:30px 0 0;" *ngIf="statusJsonStr == '3' && userJsonStr == 'Counselor' && isSubmitJsonStr != '2'">
            <button nz-button [nzType]="'primary'" style="width: 150px;height:40px;" (click)="changebox1()">
                <span>修改</span>
            </button>
        </div>
    </div>

    <p class="center" style="margin-top:20px;">
        <span *ngIf="userJsonStr == 'Counselor'" class="dib" (click)="historyBack()" style="text-decoration: underline;cursor: pointer;color: #0099FF;">取消</span>
        <span *ngIf="userJsonStr != 'Counselor'" class="dib" (click)="historyBack()" style="text-decoration: underline;cursor: pointer;color: #0099FF;">返回</span>
    </p>


</div>