page-managedetail {
  grid-basic-page {
    background: #FAFAFA !important;
   } 
  ul,li{list-style: none;margin:0;padding:0;}
  p,h1,h2,h3{margin:0;padding:0;}
  hr{margin:5px 0;}
  .fl{float: left;}
  .fr{float: right;}
  .center{text-align: center;}
  .dib{display: inline-block;}
  .relative{position: relative;}
  .absolute{position: absolute;}
  .fixed{position: fixed}
  .overh{overflow: hidden;}
  .mr{margin:5px 5%;}
  .db{display: block;}
  .fn10{font-size: 10px;}
  .fn12{font-size: 12px;}
  .fn14{font-size: 14px;}
  .fn16{font-size: 16px;}
  .fn17{font-size: 17px;}
  .fn18{font-size: 18px;}
  .color4a{color: #4A4A4A;}
  
  .index-cont{background: #FAFAFA;color: #4A4A4A;}

  .my-apply{width: 270px;height:150px;background: #9BD65F;border: 1px solid #5EB702;box-shadow: 0 2px 5px 0 #E3E3E3;border-radius: 8px;margin:50px auto 40px;}
  .my-apply img{width: 60px;margin:25px 0 20px;}
  .my-apply p{color:#fff;}

  .my-approve{width: 270px;height:150px;background: #63A6F5;border: 1px solid #3489EE;box-shadow: 0 2px 5px 0 #E3E3E3;border-radius: 8px;}
  .my-approve img{width: 60px;margin:25px 0 20px;}
  .my-approve p{color:#fff;}
  
    .redcircle {
            min-width: 7px;
            height: 10px;
            background: red;
            box-sizing: border-box;//必须是border-box，自行体会
            // color: white;
            // font-size: 10px;
            text-align: center;
            // line-height: 20px;
            padding: 0 5px;
            border-radius: 100%;
            display: inline-block;//肯定是inline-block，因为行内元素宽度auto呀
    }
  

    // .submit-tab{width: 40px;height:20px;}



.yuanyin {
  margin:15px auto;width: 88%;height:100px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 2px 5px 0 #E3E3E3;
  border-radius: 8px;
}

.pbutton {
  width: 95px;
  height: 35px;
  font-family: PingFangSC-Regular;
// font-size: 36px;
color: #FFC000;
letter-spacing: 0.49px;
background: #FFFFFF;
border: 2px solid #FFC000;
border-radius: 6px;
// line-height: 36px;
// :active {
//   position:relative;
//   top:1px;
// }

}
// .pbutton :hover {
//   background-color:#5cbf2a;
// }

.abutton {
  width: 95px;
  height: 35px;
  font-family: PingFangSC-Regular;
// font-size: 36px;
color: #FFC000;
letter-spacing: 0.49px;
background: #FFC000;
border-radius: 6px;
border: 2px solid #FFC000;
color: #FFFFFF;
// line-height: 36px;

}

.sex {
  position: relative;
  overflow: hidden;
  min-width: 18px;
  height: 18px;
  background: #F5F5F5;
  top: 5px;
  left: 5px;
  box-sizing: border-box;//必须是border-box，自行体会
  // color: white;
  // font-size: 10px;
  // text-align: center;
  // line-height: 20px;
  padding: 0 5px;
  border-radius: 100%;
  display: inline-block;//肯定是inline-block，因为行内元素宽度auto呀
  img {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 1px;
    left: 1px;
  }
}



}
