page-index {
  ul,li{list-style: none;margin:0;padding:0;}
  p,h1,h2,h3{margin:0;padding:0;}
  hr{margin:5px 0;}
  .fl{float: left;}
  .fr{float: right;}
  .center{text-align: center;}
  .dib{display: inline-block;}
  .relative{position: relative;}
  .absolute{position: absolute;}
  .fixed{position: fixed}
  .overh{overflow: hidden;}
  .mr{margin:0 auto;}
  .db{display: block;}
  .fn12{font-size: 12px;}
  .fn14{font-size: 14px;}
  .fn16{font-size: 16px;}
  .fn17{font-size: 17px;}
  .fn18{font-size: 18px;}
  .color4a{color: #4A4A4A;}
  
  .index-cont{background: #FAFAFA;color: #4A4A4A;}

  .my-apply{width: 270px;height:150px;background: #9BD65F;border: 1px solid #5EB702;box-shadow: 0 2px 5px 0 #E3E3E3;border-radius: 8px;margin:50px auto 40px;}
  .my-apply img{width: 60px;margin:25px 0 20px;}
  .my-apply p{color:#fff;}

  .my-approve{width: 270px;height:150px;background: #63A6F5;border: 1px solid #3489EE;box-shadow: 0 2px 5px 0 #E3E3E3;border-radius: 8px;}
  .my-approve img{width: 60px;margin:25px 0 20px;}
  .my-approve p{color:#fff;}













}
