.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.dib{display: inline-block;}
.overh{overflow: hidden;}
.db{display: block;}

.ant-modal-body{padding:10px 10px;}
.bold{font-weight: bold;}


.ant-modal-title{text-align: center!important;}


.ant-modal-header{text-align: center!important;}






