page-login {

  .login-content {
    background: url("../assets/images/back.jpg") no-repeat;
    background-size: cover;

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 3px;
      margin:20px 0;
      background-color: #09161F;
      border: 1px solid #17363E;
    }
    .item-ios.item-block .item-inner{
      border: 0;
    }
  }

}
